.carousel{
  background-color: rgb(29, 29, 29);
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.carousel img{
  margin: 20px 0;
  width: 100%;
  height: 600px;
}

@media (max-width: 576px){
  .carousel{
  background-color: rgb(29, 29, 29);
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.carousel img{
  width: 100%;
  height: 600px;
}
.text-lig{
  width: 500px;
}
.carousel-control-prev, .carousel-control-next{
  display: none;
}
}