@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Imperial+Script&family=Shippori+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

.main{
    background-image: url('images/Background\ video.mp4');
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100vh;
}
Video {
  position: fixed;
  background-size: cover;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
h4 {
  font-family: "Imperial Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  margin-top: -120px;
}
#main h1 {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  font-size: 60px;
}

#main h1,h4,p,button{
  animation: appear1 8s linear;
  animation-timeline: view();
  animation-range: entry 0% ;
}
.second{
    background-image: url('Image1/2.jpg');
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100vh;
}
.second  h2{
  animation: appear 8s linear;
  animation-timeline: view();
  animation-range: entry 0% ;
}

.second  p{
  font-size: 18px;
  width: 600px;
  animation: appear 8s linear;
  animation-timeline: view();
  animation-range: entry 0% ;
}

.third{
    background-image: url('Image2/4.jpg');
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100vh;
}

.third h1{
  font-family: "Playball", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  animation: appear 8s linear;
  animation-timeline: view();
  animation-range: entry 0% ;
}
.four{
    background-color: rgba(26, 26, 26, 0.712);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100vh;
}
.four h1{
  color: white;
  animation: appear 8s linear;
  animation-timeline: view();
  animation-range: entry 0% ;
}

.flip-card {
  background-color: transparent;
  width: 250px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  animation: appear 8s linear;
  animation-timeline: view();
  animation-range: entry 0% ;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  border-radius: 20px;
}
.flip-card-front img{
  width: 250px;
  height: 250px;
  object-fit: fill;
}

.flip-card-back {
  background-color: #297fb974;
  color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}


.five{
    background-image: url('Image3/5.png');
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 175vh;
}
.five h2{
  margin-top: 80px;
  animation: appear 8s linear;
  animation-timeline: view();
  animation-range: entry 0% ;
}

.five img{
  width: 400px;
  height: 280px;
  animation: appear 8s linear;
  animation-timeline: view();
  animation-range: entry 0% ;
}
.five p{
  font-size: 20px;
  animation: appear 8s linear;
  animation-timeline: view();
  animation-range: entry 0% ;
}

.six{
    background-image: url('Image3/6.jpg');
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100vh;
}
.six p{
  font-size: 16px;
}

.map{
  border-radius: 15px;  
}
.span{
  font-size: 25px;
}

.span h6{
  font-size: 25px;
}
@keyframes appear{
  from{
    opacity: 0;
    scale:0.4;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}

@keyframes appear1{
  from{
    opacity: 1;
    scale:1;
  }
  to{
    opacity: 0;
    scale: 0.4;
  }
}



@media screen and (max-width:992px){
  .second  h2{
  animation: appear 8s linear;
  animation-timeline: view();
  animation-range: entry 0% ;
}

.second  p{
  font-size: 18px;
  width: 500px;
  animation: appear 8s linear;
  animation-timeline: view();
  animation-range: entry 0% ;
}
.third{
    background-image: url('Image2/4.jpg');
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100vh;
}

.third h1{
  font-family: "Playball", cursive;
  width: 800px;
  font-weight: 200;
  font-style: normal;
  font-size: 50px;
  animation: appear 8s linear;
  animation-timeline: view();
  animation-range: entry 0% ;
}
.four{
    background-color: rgba(26, 26, 26, 0.712);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100vh;
}
.four h1{
  color: white;
  margin-bottom: 0px;
  animation: appear 8s linear;
  animation-timeline: view();
  animation-range: entry 0% ;
}

.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  margin-left: 15px;
  margin-top: 20px;
  border-radius: 20px;
  overflow: hidden;
  animation: appear 8s linear;
  animation-timeline: view();
  animation-range: entry 0% ;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  border-radius: 20px;
}
.flip-card-front img{
  width: 200px;
  height: 200px;
  object-fit: fill;
}

.flip-card-back {
  background-color: #297fb974;
  color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}
.five{
    background-image: url('Image3/5.png');
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 135vh;
}
.five h2{
  margin-top: 20px;
  animation: appear 8s linear;
  animation-timeline: view();
  animation-range: entry 0% ;
}

.five img{
  width: 240px;
  height: 160px;
  animation: appear 8s linear;
  animation-timeline: view();
  animation-range: entry 0% ;
}
.five p{
  font-size: 20px;
  animation: appear 8s linear;
  animation-timeline: view();
  animation-range: entry 0% ;
}
.six{
    background-image: url('Image3/6.jpg');
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100vh;
}
.six p{
  font-size: 16px;
}

.map{
  border-radius: 15px;  
}
.span{
  font-size: 18px;
}

.span h6{
  font-size: 18px;
}
@keyframes appear{
  from{
    opacity: 0;
    scale:0.4;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}

@keyframes appear1{
  from{
    opacity: 1;
    scale:1;
  }
  to{
    opacity: 0;
    scale: 0.4;
  }
}
}



@media screen and (max-width:480px){

.main{
    background-image: url('images/Background\ video.mp4');
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100vh;
}
Video {
  position: fixed;
  background-size: cover;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
h4 {
  font-family: "Imperial Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  margin-top: -20px;
}
#main h1 {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  font-size: 50px;
}

#main h1,h4,p,button{
  animation: appear1 8s linear;
  animation-timeline: view();
  animation-range: entry 0% ;
}

.second{
    background-image: url('Image1/2.jpg');
    background-size: cover;
    background-position-y: bottom;
    background-position-x: 50%;
    width: 100%;
    height: 100vh;
}

  .second  h2{
  animation: appear 8s linear;
  animation-timeline: view();
  animation-range: entry 0% ;
}

.second  p{
  font-size: 18px;
  width: 300px;
  animation: appear 8s linear;
  animation-timeline: view();
  animation-range: entry 0% ;
}
.third{
    background-image: url('Image2/4.jpg');
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100vh;
}

.third h1{
  font-family: "Playball", cursive;
  font-weight: 200;
  font-style: normal;
  width: 280px;
  font-size: 40px;
  animation: appear 8s linear;
  animation-timeline: view();
  animation-range: entry 0% ;
}
.four{
    background-color: rgba(26, 26, 26, 0.712);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100vh;
}
.four h1{
  color: white;
  margin-bottom: -60px;
  animation: appear 8s linear;
  animation-timeline: view();
  animation-range: entry 0% ;
}

.flip-card {
  background-color: transparent;
  width: 150px;
  height: 150px;
  margin-left: 15px;
  margin-top: 40px;
  border-radius: 20px;
  overflow: hidden;
  animation: appear 8s linear;
  animation-timeline: view();
  animation-range: entry 0% ;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  border-radius: 20px;
}
.flip-card-front img{
  width: 150px;
  height: 150px;
  object-fit: fill;
}

.flip-card-back {
  background-color: #297fb974;
  color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}
.five{
    background-image: url('Image3/5.png');
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 135vh;
}
.five h2{
  margin-top: 20px;
  animation: appear 8s linear;
  animation-timeline: view();
  animation-range: entry 0% ;
}

.five img{
  width: 200px;
  height: 140px;
  animation: appear 8s linear;
  animation-timeline: view();
  animation-range: entry 0% ;
}
.five p{
  font-size: 20px;
  animation: appear 8s linear;
  animation-timeline: view();
  animation-range: entry 0% ;
}
.six{
    background-image: url('Image3/6.jpg');
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100vh;
}
.six p{
  font-size: 16px;
}

.map{
  border-radius: 15px;  
}
.span{
  font-size: 18px;
}

.span h6{
  font-size: 18px;
}
@keyframes appear{
  from{
    opacity: 0;
    scale:0.4;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}

@keyframes appear1{
  from{
    opacity: 1;
    scale:1;
  }
  to{
    opacity: 0;
    scale: 0.4;
  }
}
}